// AdminPage.scss
$accent-pink: #f00a50;
$accent-yellow: #f2d001;
$accent-teal: #00ceaf;
$accent-blue: #212431;
$accent-white: #ffffff;
$background-light: #f5f5f5;
$background-dark: #363b4d;
$secondary-light: #ffffff;
$secondary-dark: #212431;
$tertiary-light: #212431;
$tertiary-dark: #ffffff;
$text-light: #212431;
$text-dark: #ffffff;

.admin-page-fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-first);
  z-index: 1;
}