.glossary-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;

  th {
    background-color: #363B4D;
    color: #fff;
    padding: 1rem;
    font-size: 1.1rem;
    text-align: left;
    border-radius: 0.5rem 0.5rem 0 0;
    border: none;
  }
}
