fastapi
alembic
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
PyJWT
pytest
httpx
python-multipart
pytest-asyncio
google-cloud-storage
ruff
black     
mypy    
mavito-common-lib==0.1.0
passlib[bcrypt]
alt-profanity-check