fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
PyJWT
ruff
black
mypy
pytest
httpx
pytest-asyncio
psycopg2-binary
mavito-common-lib==0.1.0